.idea/
.vscode/
*.iml
.env
.DS_Store
venv/
.pytest_cache/
**__pycache__/
*.pyc
app/db.sqlite3

# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Django
db.sqlite3
.sqlite
*.db3
*.sqlite3
*.db

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
